/* FONTS FOR THE WEBSITE */
@font-face {
  font-family: "Open Sans";
  src: url("opensans-regular.ttf") format("truetype");
}

body {
  padding: 1rem 1rem;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}

/* BOLD */

b {
  color: brown;
}

b.links {
  color: rgb(6, 120, 155);
}

/* COLLAPSIBLE - TOGGLE - SECTIONS */

ol {
  padding-left: 1rem;
  animation: sweep 0.5s ease-in-out;
}

/* -------------------------------------------------------- */
/* LISt ELEmENTS */

li {
  margin-bottom: 1em;
  font-size: 17px; /* Adjust this value as needed */
}

/* ON Smalles screens: */
@media (max-width: 767px) {
  li {
    font-size: 14px; /* Smaller font size for phone screens */
  }
}

/* ------------------------------------------------------ */

summary {
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

details[open] summary::before {
  content: "➖";
}

/* COOL ANIMATION, OLs SLIDE FROM THE LEFT */
@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

details summary::before {
  content: "➕";
  margin-right: 0.9em;
}

details[open].inside-summary summary::before {
  content: "➖";
}

details.inside-summary summary::before {
  animation: sweep 0.5s ease-in-out;

  content: "➕";
  margin-right: 0.9em;
}

/* COLLAPSE ALL BUTTON */

#collapse-all-button {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 999;
  padding: 10px 20px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

#collapse-all-button:hover {
  background: linear-gradient(135deg, #0056b3, #003c80);
}

/* *********************** */
/* *********************** */
/* ************ THIS IS TO ANIMATE ELEMENTS - GROW ON HOVER A BIT*********** */
/* *********************** */
.grow-on-hover {
  transition: transform 0.5s ease-in-out;
}

.grow-on-hover:hover {
  transform: scale(1.05);
}

/* ********************************************* */
/* ********************************************* */
/* ********************************************* */
/* ********************************************* */

/* Custom CSS to make the button smaller */
.bmc-btn-container {
  font-size: smaller;
}
